<template>
    <div class="home">
        <h3>{{ msg }}</h3>
        <button v-on:click="add">It's working?</button>
        <br>
        <router-link to='/add'>click to add</router-link>
    </div>
</template>

<script>
    export default {
        name: 'Home',
        data() {
            return {
                msg: "hello, World"
            }
        },
        methods: {
            add: function() {
                alert("Added");
            }
        }
    }
</script>